@import url('base.css');

.container {
    border-top: 5px solid #28a745;
}

button {
    background-color: #28a745;
}

button:hover {
    background-color: #218838;
}

#confirmationMessage {
    margin-top: 20px;
    font-weight: bold;
}

#downloadReceipt, #backToMain {
    margin-top: 10px;
}
