@import url('base.css');

.container {
    border-top: 5px solid #343a40;
}

select {
    background-color: #e2e3e5;
}

button {
    background-color: #343a40;
}

button:hover {
    background-color: #23272b;
}

